@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "root.cshtml";
}

@* the fun starts here *@
@{
    foreach (var child in Model.Children)
    {
        <div class="hs-item set-bg" data-setbg="img/slider-1.jpg">
            <div class="hs-text">
                <div class="container">
                    <h2>The Best <span>Games</span> Out There</h2>
                    <p>@Model.Value("highlightText")</p>
                    <a href="#" class="site-btn">Read More</a>
                </div>
            </div>
        </div>
    }
}


