@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "root.cshtml";
}

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Hero section -->
    @{
        Html.RenderPartial("SiteLayout/Hero");
    }
    <!-- Hero section end -->


    <!-- Latest news section -->
    @{ 
        Html.RenderPartial("SiteLayout/NewsBanner");
    }
    <!-- Latest news section end -->


    <!-- Feature section -->
    @{
        Html.RenderPartial("SiteLayout/Featured");
    }
    <!-- Feature section end -->

    <!-- Recent game section  -->
    @{ 
        Html.RenderPartial("SiteLayout/RecentGames");
    }
    <!-- Recent game section end -->

    <!-- Tournaments section -->
    @{ 
        Html.RenderPartial("SiteLayout/Tournaments");
    }
    <!-- Tournaments section bg -->

    <!-- Review section -->
    @{ 
        Html.RenderPartial("SiteLayout/Reviews");
    }
    <!-- Review section end -->
