@inherits Umbraco.Web.Mvc.UmbracoViewPage

 <!-- Feature section -->
    <section class="feature-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 p-0">
                    <div class="feature-item set-bg" style="background-image: url(../../../Media/img/features/1.jpg)">
                        <span class="cata new">new</span>
                        <div class="fi-content text-white">
                            <h5><a href="#">Suspendisse ut justo tem por, rutrum</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <a href="#" class="fi-comment">3 Comments</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 p-0">
                    <div class="feature-item set-bg" style="background-image: url(../../../Media/img/features/2.jpg)">
                        <span class="cata strategy">strategy</span>
                        <div class="fi-content text-white">
                            <h5><a href="#">Justo tempor, rutrum erat id, molestie</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <a href="#" class="fi-comment">3 Comments</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 p-0">
                    <div class="feature-item set-bg" style="background-image: url(../../../Media/img/features/3.jpg)">
                        <span class="cata new">new</span>
                        <div class="fi-content text-white">
                            <h5><a href="#">Nullam lacinia ex eleifend orci porttitor</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <a href="#" class="fi-comment">3 Comments</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 p-0">
                    <div class="feature-item set-bg" style="background-image: url(../../../Media/img/features/4.jpg)">
                        <span class="cata racing">racing</span>
                        <div class="fi-content text-white">
                            <h5><a href="#">Lacinia ex eleifend orci suscipit</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <a href="#" class="fi-comment">3 Comments</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature section end -->